.two-left-1 {
  left: 55px;
  top: 30px;
}

.two-right-1 {
  right: 55px;
  top: 30px;
}

.two-left-2 {
  left: 55px;
  bottom: 15px;
}

.two-right-2 {
  right: 55px;
  bottom: 15px;
}

.three-left-1 {
  left: 60px;
  top: 15px;
}

.three-right-1 {
  right: 60px;
  top: 15px;
}

.three-left-2 {
  left: 60px;
  bottom: 30px;
}

.three-right-2 {
  right: 60px;
  bottom: 30px;
}

.three-left-3 {
  left: 60px;
  bottom: 2px;
}

.three-right-3 {
  right: 60px;
  bottom: 2px;
}